* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .5s linear;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    border: none;
} 

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
/*     box-shadow: 0 0.5rem 1.5rem rgba(252, 251, 251, 0.1); */
/*     background-color: black; */
}

header #logo {
    width: 350px;
    text-align: center;
}

header #logo .logo {
    display: inline-block;
    text-align: center;
}

header #logo .logo img {
    display: inline-block;
    width: 34%;
}

header .navbar {
    display: flex;
    padding-top: 27px;
    padding-bottom: 0;
    margin-bottom: 0;
}

header .navbar ul {
    display: inline;
}

header .navbar ul li {
    display: inline-block;
}

header .navbar ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    padding: .5rem 1.5rem;
    margin-right: 1.5rem;
    border-radius: .5rem;
}

header .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .icons i {
    color: rgb(105, 137, 224);
}

header .icons .fab-icons {
    display: inline-block;
}

header .icons #menu-bar {
    display: none;
}

header .icons i,
header .icons .fab-icons a {
    cursor: pointer;
    font-size: 2rem;
    margin-left: .5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: #eee;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
}

header .navbar ul li a:hover {
    position: relative;
    color: white;
    background: #943131;
}

header .icons i:hover,
header .icons .fab-icons a:hover {
    color: #fff;
    background: #4e75c4;
    transform: rotate(360deg);
}

header .icons .fab-icons #youtube:hover {
    color: #FF0000;
    background: #fff;
}


/* -------------------sub-menu------------------------------------ */

.sub-menu-1 {
    display: none;
}

header .navbar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    padding-right: 8px;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
    background: #262626;
}

header .navbar ul li:hover .sub-menu-1 ul li {
    display: block;
    width: 100%;
    border-radius: 0;
    text-align: center;
}

header .navbar ul li:hover .sub-menu-1 ul li a {
    margin-top: 9px;
/*     border: 1px solid #fff; */
    width: 100%;
}


/* -------------------end of sub-menu------------------------------------ */


/* header media queries */

@media screen and (max-width: 1920px) and (min-width: 1440px) {}

@media screen and (max-width: 1440px) and (min-width: 990px) {
    header {
        padding-right: 30px;
    }
    header #logo {
        width: 250px;
    }
    header #logo .logo img {
        width: 47%;
    }
}

@media screen and (max-width: 990px) and (min-width: 768px) {
    header #logo {
        width: 150px;
    }
    header #logo .logo img {
        display: inline-block;
        width: 76%;
    }
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 768px) and (min-width: 400px) {
    header {
        padding-right: 30px;
    }
    header #logo {
        width: 150px;
    }
    header #logo .logo img {
        width: 75%;
    }
    header .icons #menu-bar {
        display: inline-block;
    }
    header .navbar {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding-top: 0;
/*         background: #262626; */
        color: #fff;
        clip-path: polygon( 0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar ul li {
        width: 100%;
    }
    header .navbar ul li a {
        display: block;
        text-align: center;
        padding: .6rem 1.5rem;
        border-bottom: .1px solid #fff;
    }
    header .navbar ul li a:hover {
        font-size: 1.2rem;
    }
    header .navbar ul li:hover .sub-menu-1 {
        position: static;
        padding: 0px 50px;
    }
        header .navbar ul li:hover .sub-menu-1 ul li a {
        border: 1px solid #fff;
    }
}

@media screen and (max-width: 400px) and (min-width: 100px) {
    header {
        padding-right: 10px;
    }
    header .icons #menu-bar {
        display: inline-block;
    }
    header #logo .logo img {
        display: inline-block;
        width: 76%;
    }
    header #logo {
        width: 130px;
    }
    header .navbar {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding-top: 0;
/*         background: #262626; */
        color: #fff;
        clip-path: polygon( 0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar ul li {
        width: 100%;
    }
    header .navbar ul li a {
        display: block;
        text-align: center;
        padding: .6rem 1.5rem;
        border-bottom: .1px solid #fff;
    }
    header .navbar ul li a:hover {
        font-size: 1.2rem;
    }
    header .navbar ul li:hover .sub-menu-1 {
        position: static;
        padding: 0px 30px;
    }
        header .navbar ul li:hover .sub-menu-1 ul li a {
        border: 1px solid #fff;
    }
    header .icons .fab-icons {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    header .icons .fab-icons.active {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
}


 /* ----------------------content---------------- */
 body{
     background: black;
     display: grid;
 }
#background-video {
    width: 100vw;
    height: auto;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
@media screen and (max-width: 500px) and (min-width: 100px) {
    #background-video {
    width: 100%;
    height: auto;
    }
}

 .main{
     visibility: hidden;
     margin-top: 128px;
     display: flex;
     justify-content: center;
     color: #9b9b9b;
     line-height: 4.2em;
     font-size: 80px;
     text-transform: uppercase;
     font-weight: bold;
 }











/* --------------footer section------------------------ */


.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: black;
}

.footer>* {
    flex: 1 100%;
}

.footer .footer-left {
    display: inline-block;
    padding-top: 50px;
    padding-left: 75px;
    padding-bottom: 30px;
    padding-right: 0;
    margin-right: 0;
    width: 200px;
}
.footer .footer-left .left-box {
    display: inline-block;
    width: fit-content;
}
.footer .footer-left .left-box .img{
    display: inline-block;
    width: 195px;
    height: auto;
    text-align: center;
}
.footer .footer-left .left-box .img img {
    width: 65%;
    height: auto;
    text-align: center;
}

.footer .footer-left .left-box .address {
    
    font-size: small;
    color: #999;
    text-align: left;
    width: fit-content;
    text-align: center;
    width: 195px;
}
.footer .footer-left .left-box .address{
    text-align: center;
}

.footer .footer-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin-left: 270px;
}
.footer .footer-right>* {
    margin-right: 1.25em;
}


.footer .footer-right li {
    line-height: 2rem;
}

.footer .footer-right li .box {
    display: inline-block;
    margin-top: 50px;
}

.box li a {
    color: #999;
    display: inline-block;
    text-decoration: none;
    padding: 0 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.footer-bottom {
    text-align: center;
    color: #999;
    padding-top: 20px;
}

@media screen and ( min-width: 600px) {
    .footer .footer-left {
        flex: 0 0px;
    }
    .footer .footer-right>* {
        flex: 1;
    }
    .footer .footer-right {
        flex: 2 0px;
    }
} 

@media screen and (max-width:1440px) and (min-width: 990px){
    .footer .footer-left {
        padding-left: 25px;
    }
    .footer .footer-right{
        margin-left: 170px;
    }
}
@media screen and (max-width: 990px) and (min-width: 600px) {
    .footer .footer-left {
        padding-left: 0;
    }
    .footer .footer-right{
        margin-left: 55px;
    }
}

@media screen and (max-width: 600px) and (min-width: 0px){
    .main {
        font-size: 55px;
    }
    .footer .footer-left{
        text-align: center;
        padding: 0;
    }
    .footer .footer-right{
        margin-left: 0;
    }
    .footer .footer-right li .box{
        margin-top: 30px;
    }
}
